## In this chapter, you'll learn more about set theory using Venn diagrams and you will be introduced to union, union all, intersect, and except clauses. You'll finish by investigating semi-joins and anti-joins, which provide a nice introduction to subqueries

## Union (1)

```SQL
-- Select fields from 2010 table
SELECT * 
-- From 2010 table
FROM economies2010
-- Set theory clause
UNION
-- Select fields from 2015 table
SELECT * 
-- From 2015 table
FROM economies2015
-- Order by code and year
ORDER BY code, year;
```

## Union (2)
UNION can also be used to determine all occurrences of a field across multiple tables.

```SQL
-- Select field
SELECT country_code
-- From cities
FROM cities
-- Set theory clause
UNION
-- Select field
SELECT code
-- From currencies
FROM currencies
-- Order by country_code
ORDER BY country_code;
```

## Union all
As you saw, duplicates were removed from the previous two exercises by using UNION.

To include duplicates, you can use UNION ALL.

__Instructions__
- Determine all combinations (include duplicates) of country code and year that exist in either the economies or the populations tables. Order by code then year.
- The result of the query should only have two columns/fields. Think about how many records this query should result in.
- You'll use code very similar to this in your next exercise after the video. Make note of this code after completing it.  
```SQL
-- Select fields
SELECT code, year
-- From economies
FROM economies
-- Set theory clause
UNION ALL
-- Select fields
SELECT country_code, year
-- From populations
FROM populations
-- Order by code, year
ORDER BY code, year;
```

## Intersect
Repeat the previous UNION ALL exercise, this time looking at the records in common for country code and year for the economies and populations tables.

__Instructions__
- Again, order by code and then by year, both in ascending order.
- Note the number of records here (given at the bottom of query result) compared to the similar UNION ALL query result (814 records).  
```SQL
-- Select fields
SELECT code, year
-- From economies
FROM economies
-- Set theory clause
INTERSECT
-- Select fields
SELECT country_code, year
-- From populations
FROM populations
-- Order by code and year
ORDER BY code, year;
```

## Intersect (2)
As you think about major world cities and their corresponding country, you may ask which countries also have a city with the same name as their country name?

__Instructions__
- Use INTERSECT to answer this question with countries and cities!  

__Answer:__
```SQL
-- Select fields
SELECT name
-- From countries
FROM countries
-- Set theory clause
INTERSECT
-- Select fields
SELECT name
-- From cities
FROM cities;
```

Nice one! Hong Kong is part of China, but it appears separately here because it has its own ISO country code. Depending upon your analysis, treating Hong Kong separately could be useful or a mistake. Always check your dataset closely before you perform an analysis!

## Except
Get the names of cities in cities which are not noted as capital cities in countries as a single field result.

Note that there are some countries in the world that are not included in the countries table, which will result in some cities not being labeled as capital cities when in fact they are.

__Answer:__  
```SQL
-- Select field
SELECT name
-- From cities
FROM cities
-- Set theory clause
EXCEPT
-- Select field
SELECT capital
-- From countries
FROM countries
-- Order by result
ORDER BY name;
```

## Except (2)
Now you will complete the previous query in reverse!

Determine the names of capital cities that are not listed in the cities table.

__Instructions__
- Order by capital in ascending order.
- The cities table contains information about 236 of the world's most populous cities. The result of your query may surprise you in terms of the number of capital cities that DO NOT appear in this list!  

__Answer:__
```SQL
-- Select field
SELECT capital
-- From countries
FROM countries
-- Set theory clause
EXCEPT
-- Select field
SELECT name
-- From cities
FROM cities
-- Order by ascending capital
ORDER BY capital;
```

## Semi-join
You are now going to use the concept of a semi-join to identify languages spoken in the Middle East.

```SQL
-- Select distinct fields
SELECT DISTINCT name
-- From languages
FROM languages
-- Where in statement
WHERE code IN
-- Subquery
(SELECT code
FROM countries
WHERE region = 'Middle East')
-- Order by name
ORDER BY name;
```

## Diagnosing problems using anti-join
Another powerful join in SQL is the anti-join. It is particularly useful in identifying which records are causing an incorrect number of records to appear in join queries.

You will also see another example of a subquery here, as you saw in the first exercise on semi-joins. Your goal is to identify the currencies used in Oceanian countries!

```SQL
-- 3. Select fields
SELECT code, name
-- 4. From Countries
FROM countries
-- 5. Where continent is Oceania
WHERE continent = 'Oceania'
-- 1. And code not in
AND code NOT IN
-- 2. Subquery
(SELECT code
 FROM currencies);
```

## Set theory challenge
Congratulations! You've now made your way to the challenge problem for this third chapter. Your task here will be to incorporate two of UNION/UNION ALL/INTERSECT/EXCEPT to solve a challenge involving three tables.

In addition, you will use a subquery as you have in the last two exercises! This will be great practice as you hop into subqueries more in Chapter 4!

```SQL
-- Select the city name
SELECT name
-- Alias the table where city name resides
FROM cities AS c1
-- Choose only records matching the result of multiple set theory clauses
WHERE country_code IN
(
-- Select appropriate field from economies AS e
SELECT e.code
FROM economies AS e
-- Get all additional (unique) values of the field from currencies AS c2   
UNION
SELECT c2.code
FROM currencies AS c2
-- Exclude those appearing in populations AS p  
EXCEPT
SELECT p.country_code
FROM populations AS p
);
```

Success! Head over to the final chapter of this course to feel the power of subqueries at your fingertips!